interactions:
- request:
    body: null
    headers:
      Fastly-Key:
      - test-token-not-real
    method: GET
    uri: https://api.fastly.com/service/SU3xxxxxxxxxxxxxx0000
  response:
    body:
      string: '{"id": "SU3xxxxxxxxxxxxxx0000", "name": "Test CDN", "active_version": {"number": 42}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
# Hand-authored fixture: GET /service/<id> returning 200. The shape is
# stable across the Fastly API; refresh this date after re-verifying
# against the live endpoint (or a fresh recording).
recorded_at: '2026-06-16T00:00:00Z'
