interactions:
- request:
    body: null
    headers:
      Fastly-Key:
      - test-token-not-real
    method: GET
    uri: https://api.fastly.com/ngwaf/v1/workspaces/ws-test-1/requests?q=tag%3AVERIFIED-BOT%20from%3A-1h&limit=500
  response:
    body:
      string: '{"data": [{"id": "req-1", "timestamp": "2026-05-26T10:00:00Z", "user_agent": "Mozilla/5.0 (compatible; Googlebot/2.1)", "server_name": "www.example.com", "signals": [{"id": "VERIFIED-BOT", "value": "googlebot"}, {"id": "VERIFIED-BOT.SEARCH-ENGINE"}]}, {"id": "req-2", "timestamp": "2026-05-26T10:05:00Z", "user_agent": "Mozilla/5.0 (compatible; bingbot/2.0)", "server_name": "www.example.com", "signals": [{"id": "VERIFIED-BOT", "value": "bingbot"}, {"id": "VERIFIED-BOT.SEARCH-ENGINE"}]}, {"id": "req-3-not-a-bot", "timestamp": "2026-05-26T10:10:00Z", "signals": [{"id": "OTHER-SIGNAL"}]}], "meta": {"next_cursor": ""}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
